.messages {
    border: 2px solid white;
    flex:1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages .active {
    color:white;
    flex-grow: 95;
}

.form {
    display: flex;
    flex-grow: 5;
    align-self: center;
}