.navbar {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .5);
    /*display: flex;*/
    height: 100%;
    /*block-size: border-box;*/
    margin: 0;
    padding: 0;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}