.main {
    padding: 5px;
    flex-grow: 3;
    background-color: rgba(54, 13, 52, .5);
    display: flex;
}

.dialogs {
    flex: 1;
    border: 2px solid white;
    display: flex;

}

.messages {
    border: 2px solid white;
    flex:1;
    padding: 10px;
}

